@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Welcome to Order Management!!!</h1>
    <h2>Please click on 'Upload' to upload the orders using a csv or click 'Orders' to manage the Orders</h2>
</div>

